<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="window">
        <div class="title-bar">
            <div class="title">{{ title }}</div>
            <div class="buttons">
                <button class="minimize">_</button>
                <button class="maximize">□</button>
                <button class="close">×</button>
            </div>
        </div>
        <div class="content">
            <p>{{ targetURL}}</p>
        </div>
    </div>
</body>
</html>